//basic colors
$color-font: #343434;
$color-white: #fff;

$color-secondary: #03CEA4;
$color-primary: #0052EB;
$color-accent: #D81159;
$color-basicBright: #FCFAFA;
$color-basicDark: #041425;

//additional colors
$color-pinki: #CC6677;
$color-mustard: #DDCC77;