.footer {
  margin-top: 50px;
  background-color: $color-primary;
  color: $color-white;

  &__text{
    margin-bottom: 30px;
  }

  &__menu {
    padding-left: 0!important;
  }

  &__logo {
    max-width: 150px;
    display:block;
  }
  &__link {
    color: $color-white;
    &:hover {
      color: $color-secondary;
      text-decoration: none;
      cursor: pointer;
    }
  }
}