.form {
  &__title {
    margin: 50px auto 40px!important;
  }

  &__switch {
    margin: 20px auto;
    display: inline-block;
  }
  &__btn{
    float: right;
    background-color: $color-primary!important;
  }
  &__error{
    color: $color-accent;
    font-weight: bold;
  }
}