.hero {
  background-color: #1B4067!important;
  background-image: url("/images/hero_1.svg");
  background-position: 95% 2%;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 50px 25px!important !important;
  border-radius: 0!important;

  &--loggedOut {
    background-image: url("/images/hero_2.svg");
    background-color: #DDCC77!important;
  }

  &__subtitle{
    text-shadow: rgb(85, 85, 85) 0 0 5px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 0px!important;
  }
  &__link{
    color: $color-primary;
    text-shadow: none;
    &:hover{
      text-decoration: none!important;
    }
  }
  &__form {
    max-width: 70%;
    margin: 0 auto;
    @include md {
      max-width: 50%;
      margin-left: 0px;
    }
    @include lg {
      max-width: 30%;
      margin-left: 0px;
      display: flex;
    }
  }

  &__input{
    width:300px;
    margin-right: 20px;
  }

  &__btn {
    width: 100px;
    height: 38px;
    background-color: $color-primary!important;
  }

  &__title {
    text-shadow: rgb(85, 85, 85) 0 0 5px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 25px;
  }

  @include xl {
    padding: 100px 50px!important !important;
  }
}