.place {
  &__title{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  &__link{
    display: block;
  }
  &__edit-btn {
    background-color: $color-primary!important;
    margin-bottom: 15px;
  }
  &__img-wrapper{
    position: relative;
  }
  &__img {
    width: 100%;
    margin: 0 auto 10px;
  }
  &__sticker{
    background-color: $color-accent;
    color: $color-white;
    padding: 10px 15px;
    position: absolute;
    top: 10px;
    left: -5px;
    font-weight: bold;
    text-transform: capitalize;
    opacity: 0.9;
  }
  &__sharing{
    color: $color-accent;
    font-weight: 500;
  }

  &__sharing-icon {
    &:first-of-type{
      margin-left: 10px;
    }
    margin-right: 8px;
  }
  &__info{
    margin: 15px 0;
    color: $color-basicDark;
    font-weight: 500;
    display: inline-block;
  }
  &__info-icon {
    margin-right: 10px;
    color: $color-primary;
  }
  &__review-btn{
    background-color: $color-primary!important;
  }
    @include md {
      &__sharing {
        display: none;
      }
      &__sharing-icon {
        display: block;
        margin-right: 5px;
        margin-left: 0px!important;
        margin-bottom: 10px;
      }
    }
    @include lg {
      &__top{
        margin-bottom: 20px;
      }
      &__sharing {
        display: none;
      }
      &__sharing-icon {
        display: block;
        margin-right: 5px;
        margin-left: 0px!important;
        margin-bottom: 10px;
      }
    }
}