.profile{
  &__title {
    margin: 20px 0 10px;
  }
  &__img{
    max-width: 60%;
    text-align: center;
    margin: 20px auto;
  }
  &__order {
    order: 3;
  }
  &__buttons{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 90%;
    margin: 40px auto 0;
  }
  &__link{
    width: 50%;
    display: inline-block;
    text-align: center;
  }
  &__btn{
    height: 36px!important;
    background-color: $color-primary!important;
  }
}
